*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}
#root{
    width: 90%;
    margin: 0 auto;
}
a{
    color: black;
    transition: 0.5s;
}
a:hover{
    color: rgb(0, 106, 255);
}